* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #faf6ed;
	color: #222;
	-webkit-font-smoothing: antialiased;
	display: grid;
	grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

img {
	display: block;
	max-width: 100px;
}
header {
	background-color: #FB5;
	grid-column: 3 / 5;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* .menu {
} */

header ul {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

header li a {
	color: #222;
	display: block;
	padding: 10px;
	margin-right: 10px;
	text-decoration: none;
	font-family: 'IBM plex Mono', monospace;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.875rem;
	letter-spacing: .1rem;
}

ul li {
	list-style: none;
}

.grid-section {
	grid-column: 2 / 4;
	width: 100px;
	padding: 10px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 90px 300px 1fr;
	grid-gap: 20px;
	margin-bottom: 4rem;
}

.titulo {
	font-family: 'Playfair Display SC', georgia ;
	font-size: 6rem;
	line-height: 1;
	font-weight: 400;
	margin-bottom: 1rem;
	grid-column: 1 / 4;
}

.animais h2 {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-bottom: 1rem;
	color: #E54;
}

.animais h2::before {
	content: '';
	display: inline-block;
	width: 40px;
	height: 10px;
	margin-right: 10px;
	background-color: #FB5;
}

.animais p {
	font-family: Helvetica, Arial;
	line-height: 1.2;
	margin-bottom: 1rem;
}


/* .animais-descricao {
	grid-column: 2 / 4;
} */